table {
  margin: auto;
  width: 80%;

}

.btnEdit,
btnDelete {
  cursor: pointer;
}

.btnDelete {
  color: #ad2b0f;
}

.btnEdit {
  color: #146dbb
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.divbtnAdd {
  text-align: center;
  margin: 10px;
}

.btnAdd {
  width: 50%;
}

/* You can add global styles to this file, and also import other style files */

.mat-toolbar {
  width: 80%;
  margin: auto;
  background: local;
  justify-content: space-between;
}

#logout {
  font-size: 24px;
}

h1 {
  margin: 0;
  text-align: center;
  padding-top: 10px;
  font-weight: 600;
}

.container {
  padding: 30px;

}

.mat-icon,
.mat-list-item,
h1 {
  cursor: pointer !important;
}

.mat-icon {
  font-size: 36px;
}

.mat-list-base {
  padding-top: 30px !important;
}

.mat-list-base .mat-list-item .mat-list-item-content {
  text-align: center !important;
  display: block !important;
  padding-top: 15px !important;
}

.mat-list-item-content:hover {
  background-color: beige !important;
}

mat-form-field {
  padding-left: 10%;
  padding-right: 10%;
}
